<div>
    <div class="col-12 mt-5">
        <h2>Contattami</h2>
        <form onsubmit="inviaMessaggio(event)">
            <div class="mb-3">
                <label for="contact-email" class="form-label">Email</label>
                <input type="email" class="form-control" id="contact-email" required>
            </div>
            <div class="mb-3">
                <label for="contact-text" class="form-label">Testo</label>
                <textarea class="form-control" id="contact-text" rows="5" required></textarea>
            </div>

            <input type="submit" class="btn btn-primary" value="Invia" />
        </form>
    </div>
</div>


<script type="text/javascript">
function inviaMessaggio(e) {
    e.preventDefault();
    axios.post('/api/message', {
        email: document.querySelector('#contact-email').value,
        text: document.querySelector('#contact-text').value,
    })
        .then(function(response) {
            document.querySelector('#contact-email').value = '';
            document.querySelector('#contact-text').value = '';
            alert('Messaggio inviato correttamente');
        })
}
</script>
